attrs==21.4.0
Automat==22.10.0
backports.functools-lru-cache==1.6.4
BeautifulSoup==3.2.2
beautifulsoup4==4.9.3
bs4==0.0.1
CacheControl==0.12.6
cachetools==3.1.1
certifi==2021.10.8
cffi==1.15.1
chardet==4.0.0
colorama==0.4.6
configparser==4.0.2
constantly==15.1.0
contextlib2==0.6.0.post1
crayons==0.4.0
cryptography==3.3.2
cssselect==1.1.0
cycler==0.10.0
enum34==1.1.10
et-xmlfile==1.0.1
functools32==3.2.3.post2
futures==3.4.0
google-api-core==1.32.0
google-api-python-client==1.12.11
google-auth==1.35.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.52.0
googlemaps==4.2.0
html5lib==1.1
httplib2==0.21.0
hyperlink==21.0.0
icalendar==4.1.0
idna==2.10
importlib-resources==3.3.1
incremental==22.10.0
ipaddress==1.0.23
jdcal==1.4.1
kiwisolver==1.1.0
lxml==4.9.1
matplotlib==2.2.5
modules==1.0.0
msgpack==1.0.4
numpy==1.16.6
openai==0.6.4
packaging==20.9
pandas==0.24.2
parsel==1.6.0
pathlib2==2.3.7.post1
Protego==0.2.1
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyDispatcher==2.0.6
PyHamcrest==1.10.1
pyOpenSSL==21.0.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2022.6
pywebcopy==7.0.2
queuelib==1.6.1
requests==2.27.1
requests-file==1.5.1
reverse-geocoder==1.5.1
rsa==4.5
scandir==1.10.0
scipy==1.2.3
Scrapy==1.8.3
selenium==3.141.0
service-identity==21.1.0
singledispatch==3.7.0
six==1.16.0
soupsieve==1.9.6
tldextract==2.2.3
tqdm==4.64.1
Twisted==20.3.0
typing==3.10.0.0
uritemplate==3.0.1
urllib3==1.26.12
w3lib==1.22.0
webdriver-manager==2.4.0
webencodings==0.5.1
wget==3.2
XlsxWriter==2.0.0
zipp==1.2.0
zope.interface==5.5.2
